target
Cargo.lock
oprofile_data

code/*.rs
code/beer
code/bubble
code/change
code/guess
code/icat
code/iching1
code/iching2
code/ins
code/life
code/life2
code/pi
code/pow
code/primes
code/quine
code/random2
code/rot13
code/rot13b
code/sample
code/tpk
code/unlambda
code/yapp
