target
Cargo.lock
oprofile_data

code/*.rs
code/beer
code/bubble
code/change
code/fft
code/flonck
code/guess
code/icat
code/iching1
code/iching2
code/ins
code/life
code/life2
code/pi
code/pow
code/primes
code/quine
code/random2
code/rot13
code/rot13b
code/sample
code/sort
code/tpk
code/unlambda
code/yapp
code/tests/ais1
code/tests/ais2
code/tests/arrtest
code/tests/compucome
code/tests/hello
code/tests/ignorearray
code/tests/ignorret
code/tests/limits
code/tests/offtheend
code/tests/onceagain
code/tests/permute
code/tests/sink
code/tests/test1
code/tests/test2
code/tests/testarray
code/tests/testi18n
code/tests/testlib2
code/tests/testonce
code/tests/testsplat
code/tests/whileadd
